<h1 *ngIf="!room">Loading...</h1>

<div *ngIf="room">
    <h2 class="subtitle">Tell your buddies to join this room:</h2>
    <h1 class="title">{{ room.roomId }}</h1>

    <h1>Room Members:</h1>
    <ul>
        <li *ngFor="let member of room.members" 
            [class.leader]="member.accessToken == room.leader.accessToken">
            {{ member.accessToken === myAccessToken ? 'You' : member.alias }}
        </li>
    </ul>

    <div class="sticky-footer">
        <button class="button" class.is-success="room.members.length >= 3" (click)="startGame()" *ngIf="isMine" >Start Game</button> <!--[disabled]="room.members.length < 3"--> 
        <button class="button is-danger" (click)="leave()">Leave</button>
    </div>
</div>