<h1 class="title">Game started!</h1>

<div class="players" *ngIf="room && !room.winner">
    <a class="player-button" 
        [class.pressed]="pressing === player"
        *ngFor="let player of players" 
        (click)="press(player)">
        {{ player.alias }} ({{ player.score }})
    </a>
</div>

<div class="winner" *ngIf="room && room.winner">
    <h2 class="subtitle">
        Game ended! the winner is <strong>{{ room.winner }}</strong>
    </h2>
</div>

<div class="sticky-footer">
    <a class="button" (click)="leave()">Leave room</a>
</div>